*{
    margin: 0;
    padding: 0;
}
.main{
    background-image:url("image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    
}
.logo{
    display: block;
  float: left;
  width: 70px;
  height: 65px;
  text-indent: -9999px;
  background: url("image/logo.png") no-repeat;
  background-size: 65px 65px;
 
}
.main1 a{
  width: 200px;
  padding: 2px;  
  border: 2px solid black;
  float: center;
  padding-bottom: 10;
}
.home{
  float: right;
  font-style: normal;
  font-size: 20px;
  font-display: bold;
  padding: 20px;
  padding-left: 50%;
  font-family: sans-serif;
  
  
}
.h1 {
  font-size: larger;
  padding:200px ;
  text-align: center;
  margin: auto;
  
}
.nav {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 20px;
}
.h3 th, .h3 td{
   text-align: center;
   font-size: larger;
   font-display: bold;
   padding: 10px;
   border-collapse: collapse;

}
.h3{
  margin-left: auto;
  margin-right: auto;
 
  height: 20px;
}

